<script type="text/ng-template" id="type-days-on-single-date-tooltip"
  ng-if="day.contactData.leaveRequest">
  <div>
    <strong>{{day.contactData.leaveRequest['type_id.title']}}</strong>
    <p>
      {{day.contactData.leaveRequest['from_date_type.label']}}
    </p>
  </div>
</script>
<script type="text/ng-template" id="type-days-on-multiple-dates-tooltip"
  ng-if="day.contactData.leaveRequest">
  <div>
    <strong>{{day.contactData.leaveRequest['type_id.title']}}</strong>
    <p>
      From: {{day.dates.from | date:'dd MMM yyyy'}},
      {{day.contactData.leaveRequest['from_date_type.label']}}<br />
      To: {{day.dates.to | date:'dd MMM yyyy'}},
      {{day.contactData.leaveRequest['to_date_type.label']}}
    </p>
  </div>
</script>
<script type="text/ng-template" id="type-hours-on-single-date-tooltip"
  ng-if="day.contactData.leaveRequest">
  <div>
    <strong>{{day.contactData.leaveRequest['type_id.title']}}</strong>
    <p>
      From: {{day.dates.from | date:'HH:mm'}}<br/>
      To: {{day.dates.to | date:'HH:mm'}}<br/>
      For: {{ day.contactData.leaveRequest.from_date_amount | timeUnitApplier : day.calculationUnit.name }}
    </p>
  </div>
</script>
<script type="text/ng-template" id="type-hours-on-multiple-dates-tooltip"
  ng-if="day.contactData.leaveRequest">
  <div>
    <strong>{{day.contactData.leaveRequest['type_id.title']}}</strong>
    <p>
      From: {{day.dates.from | date:'dd MMM yyyy HH:mm'}}<br />
      To: {{day.dates.to | date:'dd MMM yyyy HH:mm'}}
    </p>
  </div>
</script>
<script type="text/ng-template" id="accrued-toil-tooltip"
  ng-if="day.contactData.leaveRequest">
  <div>
    <strong>{{day.contactData.leaveRequest['type_id.title']}}</strong>
    <p ng-switch="day.calculationUnit.name">
      <span ng-switch-when="days">
        {{day.supportData.toilAmounts[day.contactData.leaveRequest.toil_to_accrue].label}}
      </span>
      <span ng-switch-when="hours">
        {{day.contactData.leaveRequest.toil_to_accrue | timeUnitApplier : 'hours' }}
      </span>
    </p>
  </div>
</script>
